@import url('https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.bookshelf {
  position: relative;

  .lection-button {
    width: 80px;
    height: 50px;
    background-color: #8a0000;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 0.8rem;
    color: #ffffff;
  }
}

.letter {
  position: relative;
  .line {
    position: absolute;
    top: -78px;
  }
  .modal {
    position: absolute;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    transform: translate(55%, -50%);
    padding: 30px;
    box-sizing: border-box;
    width: 250px;
    border-radius: 35% 35% 0 0;
    background-color: #f2e3d1;
    z-index: 5;
    opacity: 0.5;
    animation: move 0.5s;
    animation-fill-mode: both;
    color: #150d0d;
    font-family: 'Galmuri14', sans-serif;
    @keyframes move {
      to {
        opacity: 1;
        transform: translate(55%, -80%);
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 20px;
      width: 30px;
      height: 10px;
      background-color: #ffffff;
      border-radius: 5px;
    }

    .top {
      margin-top: 30px;
    }
    .bottom {
      z-index: -1;
    }

    .text_area {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .sns_icon {
      display: flex;
      gap: 5px;
      > img {
        cursor: pointer;
      }
    }
  }
  > img {
    position: absolute;
    &.letter-back {
      // top: -10px;
      left: 0;
      z-index: 0;
    }
    &.letter-after {
      // top: 50px;
      left: 0;
      z-index: 7;
    }
    &.letter-cover {
      // top: 50px;
      left: 0;
      transition: 0.3s all;
      z-index: 0;
    }
  }
}
