@import "src/app/styles/utils.module.scss";

.block_wrapper {
  @include flex(center, space-between);
  width: 100%;
  .block {
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 10px 0 0 0;
    transform: skew(-20deg);
    border: 1px solid rgb(134, 134, 208);
    border-right: 0;
  }
}
