@import '/styles/utils.module.scss';

.block_wrapper {
  @include flex(center, initial);
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
  .block {
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    border-right: 0;
  }
}
