// 이미지 경로
$img: "/images/image.svg";

// 맑은고딕
@mixin fontM {
  font-family: "MalgunGothic", sans-serif !important;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal;
}
// 기본 폰트
@mixin fontP {
  font-family: "Pretendard", "MalgunGothic", sans-serif !important;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// transition
@mixin transition($time, $target) {
  transition: ease-in $target $time;
  will-change: $target;
}

// display flex
@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin undeline($color: #69afff) {
  text-decoration: underline;
  text-decoration-color: $color;
  text-decoration-style: wavy;
  text-underline-offset: 1px;
}

// 말줄임표
@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

// 세로로 자를때
@mixin vertical-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

// 함부로 쓰지말것. 폰트가 깨져보일때만 쓰기.
@mixin anti-alias {
  transform: rotate(-0.03deg);
}

@mixin animate($delay: 0, $direction: "down", $distance: 20px) {
  animation: fade-in-#{$direction} 1s;
  animation-delay: #{$delay * 0.7}s;
  animation-fill-mode: both;

  @keyframes fade-in-#{$direction} {
    from {
      opacity: 0;
      @if $direction == "up" {
        transform: translateY($distance);
      } @else if $direction == "down" {
        transform: translateY(-$distance);
      } @else if $direction == "left" {
        transform: translateX($distance);
      } @else if $direction == "right" {
        transform: translateX(-$distance);
      }
    }

    to {
      opacity: 1;
      transform: translateY(0) translateX(0);
    }
  }
}

@function animate($duration, $direction, $amount) {
  @if $direction == down {
    @return $duration;
  }
}
